In [ ]:
# DATASET K-MEANS.
# TODA LA PARTE DE LIMPIEZA DEL DATA YA ESTÁ HECHO EN EL Dataset_RLM.ipynb
# SE AÑADE EL PREPROCESADO PARA QUE LOS VALORES ESTÉN ENTRE 0 Y 1. 
# FINALMENTE POR EL TIPO DE DATO AL HACER EL MÉTODO DEL CODO Y ANALIZAR CLUSTERS, DATOS NO CONCLUYENTES.

In [1]:
import pandas as pd
tabla_k= pd.read_csv("tabla_k.csv")

In [2]:
from sklearn import preprocessing

In [3]:
# Se normalizan los datos con MinMax()
min_max_scaler = preprocessing.MinMaxScaler() 
tabla_k_escalado = min_max_scaler.fit_transform(tabla_k)
tabla_k_escalado = pd.DataFrame(tabla_k_escalado) 
tabla_k_escalado.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,1.0,0.0,0.0,1.0,0.0,0.322581,0.0,0.666667,0.0,0.0,0.428571,0.565217,0.322581,0.396104,0.516484,0.356356,0.370460
1,1.0,1.0,0.0,0.0,1.0,0.112903,0.0,0.000000,0.0,0.0,0.428571,0.043478,0.716129,0.551948,0.708791,0.457135,0.611435
2,1.0,0.0,0.0,0.0,0.0,0.096774,0.0,0.000000,0.0,0.0,1.000000,0.347826,0.696774,0.655844,0.604396,0.694437,0.582960
3,1.0,1.0,0.0,0.0,1.0,0.016129,0.0,0.000000,0.0,1.0,0.714286,0.347826,0.400000,0.383117,0.615385,0.473367,0.217265
4,1.0,1.0,0.0,1.0,0.0,0.370968,0.0,0.000000,0.0,0.0,0.571429,0.739130,0.341935,0.246753,0.445055,0.517173,0.396917

In [8]:
# PASAR TODOS LOS VALORES A NÚMERICOS. 
tabla_k_escalado = tabla_k_escalado.rename(columns={
    0: 'basura_papel',
    1: 'basura_plastico',
    2: 'basura_resto',
    3: 'basura_organico',
    4: 'basura_cristal',
    5: 'edad',
    6: 'genero',
    7: 'estado_civil',
    8: 'hijos',
    9: 'tipo_vivienda',
    10: 'nivel_estudios',
    11: 'profesion',
    12: 'cant_aluminio',
    13: 'cant_plastico',
    14: 'cant_cristal',
    15: 'kg_papel',
    16: 'kg_organico'
})

In [9]:
tabla_k_escalado.tail()

,basura_papel,basura_plastico,basura_resto,basura_organico,basura_cristal,edad,genero,estado_civil,hijos,tipo_vivienda,nivel_estudios,profesion,cant_aluminio,cant_plastico,cant_cristal,kg_papel,kg_organico
9995,1.0,1.0,1.0,0.0,0.0,0.064516,0.0,0.000000,0.0,0.333333,0.285714,0.608696,0.470968,0.487013,0.516484,0.269444,0.462948
9996,0.0,1.0,1.0,0.0,0.0,0.145161,0.0,0.000000,0.0,0.666667,0.428571,0.391304,0.438710,0.409091,0.532967,0.392636,0.446020
9997,1.0,1.0,1.0,0.0,0.0,0.129032,0.0,0.000000,0.0,0.333333,0.571429,0.391304,0.651613,0.415584,0.500000,0.577587,0.504652
9998,1.0,1.0,0.0,0.0,0.0,0.419355,1.0,0.666667,0.5,1.000000,0.571429,0.260870,0.509677,0.220779,0.335165,0.260091,0.360258
9999,1.0,1.0,0.0,1.0,1.0,0.096774,1.0,0.000000,0.0,1.000000,0.428571,0.652174,0.470968,0.545455,0.489011,0.572749,0.406446

In [10]:
tabla_k_escalado.to_csv("tabla_k_escalado.csv", index=False)